* {
  background: linear-gradient(to right, #ffffff 25%, #000000 75%);
color: red;
cursor: all-scroll;
}

h1 {
background-image: url(dario.jpg);
} 

#juego {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.carta {
  width: 120px;
  height: 180px;
  margin: 5px;
  cursor: pointer;
  perspective: 1000px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.carta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.carta.volteada {
  transform: rotateY(180deg);
}

.carta.oculta {
  visibility: hidden;
  transform: scale(0);
}

.boton-reiniciar {
  margin-top: 30px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: none; /* Inicialmente oculto */
}
@media (max-width: 767px) {
  /* Estilos para pantallas más pequeñas (celulares) */
  body {
      font-size: 1.2rem; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
  }

  .contenedorBusqueda input,
  .contenedorBusqueda button {
      width: 100%; /* Ajusta el ancho para ocupar toda la pantalla en dispositivos móviles */
  }

  #rp-q > div {
      width: 100%; /* Ajusta el ancho para ocupar toda la pantalla en dispositivos móviles */
      margin: 0 0 20px 0; /* Añade espacio entre los elementos */
  }}
